{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 

{% block content %}

<!-- start slider -->
<div class="container-fluid my-3">
  <div class="container p-0 carousel-container">
    <div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src=" {% static 'images/s1.jpg' %} "
            class="d-block w-100"
            alt="slide_1"
          />
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'images/s2.jpg' %}"
            class="d-block w-100"
            alt="slide_2"
          />
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'images/s3.jpg' %}"
            class="d-block w-100"
            alt="slide_3"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#customCarousel"
        data-bs-slide="prev"
      >
        <span>
          <i class="fas fa-chevron-circle-left"></i>
        </span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#customCarousel"
        data-bs-slide="next"
      >
        <span><i class="fas fa-chevron-circle-right"></i></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<!-- end slider -->
<!-- category section -->
<div class="container my-4 mx-auto p-3 category_section shadow">
  <div class="d-flex justify-content-between">
    <div class="title">
      <h3>Product Category</h3>
    </div>
    <div class="see-all mt-2">
      <a href="shop.html"><h5>see all</h5></a>
    </div>
  </div>
  <div class="categories my-3">
    <div
      class="d-flex justify-content-between align-items-center slide-wrapper"
    >
      <div id="left" class="arrow">
        <span><i class="fas fa-chevron-circle-left"></i></span>
      </div>
      <!-- categories -->
      <div class="cards d-flex" id="slider">
        
        {% for categories in categories %}
          <a href="">
            <div class="category-card">
              <figure>
                <img src="{{ categories.ImageUrl }}" alt="p1" class="img-fluid" />
              </figure>
              <h6>{{ categories.name }}</h6>
            </div>
          </a>
        {% endfor %}
      </div>
      <!-- end categories -->

      <div id="right" class="arrow">
        <span><i class="fas fa-chevron-circle-right"></i></span>
      </div>
    </div>
  </div>
</div>
<!-- end category section  -->

<!-- product section -->
<div class="container-fluid my-5">
  <div class="container">
    


    <div class="products-section bg-white shadow p-2 my-5">

      <div class="d-flex justify-content-between">
        <div class="title">
          <h3>Popular Products</h3>
        </div>
        <div class="see-all mt-2">
          <a href=" {% url 'shop' %} "><h5>see all</h5></a>
        </div>
      </div>

      <hr />

      <div class="product">
        <div class="product-slider p-2">
          <div
            class="
              d-flex
              justify-content-between
              align-items-center
              slide-wrapper
            "
          >
            <div id="product_left" class="arrow">
              <span><i class="fas fa-chevron-circle-left"></i></span>
            </div>

            <!-- start gaming cards -->
            <div class="cards d-flex" id="product_slider">
              
              {% for product in product %}
                <div class="product-card">
                  <div class="product-tumb">
                    <img src="{{ product.ProductImageUrl }}" alt="" />
                  </div>
                  <div class="product-details">
                    <h4>
                      <a href=" {% url 'product_detail' product.slug %} "
                        >{{ product.product_name }}</a
                      >
                    </h4>
                    <div class="product-price">
                      <small>RS: {{ product.display_price }}</small>Rs: {{ product.actual_price }}
                    </div>
                  </div>
                </div>
              {% endfor %}
                
             



            </div>
            <!-- end gaming cards -->

            <div id="product_right" class="arrow">
              <span><i class="fas fa-chevron-circle-right"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>







    <div class="products-section bg-white shadow p-2 my-5">

      <div class="d-flex justify-content-between">
        <div class="title">
          <h3>Recommended Products</h3>
        </div>
        <div class="see-all mt-2">
          <a href=" {% url 'shop' %} "><h5>see all</h5></a>
        </div>
      </div>

      <hr />

      <div class="product">
        <div class="product-slider p-2">
          <div
            class="
              d-flex
              justify-content-between
              align-items-center
              slide-wrapper
            "
          >
            <div id="product_left" class="arrow">
              <span><i class="fas fa-chevron-circle-left"></i></span>
            </div>

            <!-- start gaming cards -->
            <div class="cards d-flex" id="product_slider">
              
                <div class="product-card">
                  <div class="product-tumb">
                    <img src=" {% static 'images/r1.jpg' %} " alt="" />
                  </div>
                  <div class="product-details">
                    <h4>
                      <a href=""
                        >Women Shoes School Shoes Women Shoes Ladies Rubber Shoes Sneakers Women Sneakers Ladies Black 40</a
                      >
                    </h4>
                    <div class="product-price">
                      <small>RS: 15000</small>Rs: 12000
                    </div>
                  </div>
                </div>

                <div class="product-card">
                  <div class="product-tumb">
                    <img src=" {% static 'images/r2.jpg' %} " alt="" />
                  </div>
                  <div class="product-details">
                    <h4>
                      <a href=""
                        >Women Shoes Heels Ladies Sandals Women Heels Shoes Ladies Shoes Sandals Rubber Shoes Shoe Lady black 36</a
                      >
                    </h4>
                    <div class="product-price">
                      <small>RS: 17000</small>Rs: 15000
                    </div>
                  </div>
                </div>

                <div class="product-card">
                  <div class="product-tumb">
                    <img src=" {% static 'images/r3.jpg' %} " alt="" />
                  </div>
                  <div class="product-details">
                    <h4>
                      <a href=""
                        >Women Shoes Heels Women Shoes Ladies Shoes Rubber Shoes For Women Lady Shoe Heels Shoes gold 36</a
                      >
                    </h4>
                    <div class="product-price">
                      <small>RS: 25000</small>Rs: 20000
                    </div>
                  </div>
                </div>



                <div class="product-card">
                  <div class="product-tumb">
                    <img src=" {% static 'images/r4.jpg' %} " alt="" />
                  </div>
                  <div class="product-details">
                    <h4>
                      <a href=""
                        >Killimall 6th New Lace Perspective Lingerie Ladies Pajamas Girls Sexy Hip Skirt Pink S</a
                      >
                    </h4>
                    <div class="product-price">
                      <small>RS: 25000</small>Rs: 20000
                    </div>
                  </div>
                </div>



                
             



            </div>
            <!-- end gaming cards -->

            <div id="product_right" class="arrow">
              <span><i class="fas fa-chevron-circle-right"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- end product section -->

<!-- Brand section -->
<div class="container my-4 mx-auto p-3 brand-section bg-white shadow">
  <div class="d-flex justify-content-between">
    <div class="title">
      <h3>Product Brands</h3>
    </div>
    <div class="see-all mt-2">
      <a href=""><h5>see all</h5></a>
    </div>
  </div>

  <div class="brands">
    <div
      class="d-flex justify-content-between align-items-center slide-wrapper"
    >
      <div id="left" class="arrow">
        <span><i class="fas fa-chevron-circle-left"></i></span>
      </div>

      <!-- brands -->
      <div class="cards d-flex" id="slider">
        
        {% for brand in brand %}
          <a href="">
            <div class="brand-card">
              <figure>
                <img src="{{ brand.BrandImageUrl }}" alt="{{ brand.brand_name }}" class="img-fluid" />
              </figure>
            </div>
          </a>
        {% endfor %}
          
        


      </div>

      <!-- end brand -->

      <div id="right" class="arrow">
        <span><i class="fas fa-chevron-circle-right"></i></span>
      </div>
    </div>
  </div>
</div>
<!-- end brand section  -->









{% endblock content %}
